Total parameters:102275338,Trainable parameters:102275338
 Running training epoch 1
Epoch 0001 | Step 1937/9688 | Loss0.8135 | Time 586.6170
Epoch 0001 | Step 3874/9688 | Loss0.5141 | Time 1179.1316
Epoch 0001 | Step 5811/9688 | Loss0.4036 | Time 1767.4159
Epoch 0001 | Step 7748/9688 | Loss0.3445 | Time 2355.9335
Epoch 0001 | Step 9685/9688 | Loss0.3077 | Time 2925.7020
current acc is 0.9490,best acc is 0.9490
time costed = 3033.80965s 

 Running training epoch 2
Epoch 0002 | Step 1937/9688 | Loss0.1382 | Time 569.8791
Epoch 0002 | Step 3874/9688 | Loss0.1385 | Time 1139.6238
Epoch 0002 | Step 5811/9688 | Loss0.1370 | Time 1711.1569
Epoch 0002 | Step 7748/9688 | Loss0.1358 | Time 2280.8896
Epoch 0002 | Step 9685/9688 | Loss0.1346 | Time 2850.6463
current acc is 0.9577,best acc is 0.9577
time costed = 2958.86644s 

 Running training epoch 3
Epoch 0003 | Step 1937/9688 | Loss0.0981 | Time 569.7505
Epoch 0003 | Step 3874/9688 | Loss0.0997 | Time 1139.4834
Epoch 0003 | Step 5811/9688 | Loss0.1012 | Time 1709.2256
Epoch 0003 | Step 7748/9688 | Loss0.1017 | Time 2279.0161
Epoch 0003 | Step 9685/9688 | Loss0.1019 | Time 2848.8098
current acc is 0.9565,best acc is 0.9577
time costed = 2956.13955s 

 Running training epoch 4
Epoch 0004 | Step 1937/9688 | Loss0.0745 | Time 569.7251
Epoch 0004 | Step 3874/9688 | Loss0.0770 | Time 1139.4155
Epoch 0004 | Step 5811/9688 | Loss0.0778 | Time 1709.1363
Epoch 0004 | Step 7748/9688 | Loss0.0788 | Time 2278.8620
Epoch 0004 | Step 9685/9688 | Loss0.0796 | Time 2848.6283
current acc is 0.9578,best acc is 0.9578
time costed = 2956.78938s 

 Running training epoch 5
Epoch 0005 | Step 1937/9688 | Loss0.0598 | Time 569.8288
Epoch 0005 | Step 3874/9688 | Loss0.0602 | Time 1139.6156
Epoch 0005 | Step 5811/9688 | Loss0.0605 | Time 1709.3814
Epoch 0005 | Step 7748/9688 | Loss0.0614 | Time 2279.1585
Epoch 0005 | Step 9685/9688 | Loss0.0622 | Time 2849.0292
current acc is 0.9575,best acc is 0.9578
time costed = 2956.32661s 

 Running training epoch 6
Epoch 0006 | Step 1937/9688 | Loss0.0437 | Time 569.7465
Epoch 0006 | Step 3874/9688 | Loss0.0462 | Time 1139.5372
Epoch 0006 | Step 5811/9688 | Loss0.0478 | Time 1709.3866
Epoch 0006 | Step 7748/9688 | Loss0.0489 | Time 2279.2282
Epoch 0006 | Step 9685/9688 | Loss0.0498 | Time 2849.0979
current acc is 0.9570,best acc is 0.9578
time costed = 2956.49041s 

 Running training epoch 7
Epoch 0007 | Step 1937/9688 | Loss0.0345 | Time 569.7995
Epoch 0007 | Step 3874/9688 | Loss0.0364 | Time 1139.5101
Epoch 0007 | Step 5811/9688 | Loss0.0375 | Time 1709.4323
Epoch 0007 | Step 7748/9688 | Loss0.0383 | Time 2279.3433
Epoch 0007 | Step 9685/9688 | Loss0.0392 | Time 2849.1642
current acc is 0.9574,best acc is 0.9578
time costed = 2956.65878s 

 Running training epoch 8
Epoch 0008 | Step 1937/9688 | Loss0.0275 | Time 569.8250
Epoch 0008 | Step 3874/9688 | Loss0.0286 | Time 1139.6150
Epoch 0008 | Step 5811/9688 | Loss0.0299 | Time 1709.3840
Epoch 0008 | Step 7748/9688 | Loss0.0305 | Time 2279.1864
Epoch 0008 | Step 9685/9688 | Loss0.0310 | Time 2849.0133
current acc is 0.9565,best acc is 0.9578
time costed = 2956.49996s 

 Running training epoch 9
Epoch 0009 | Step 1937/9688 | Loss0.0221 | Time 569.8616
Epoch 0009 | Step 3874/9688 | Loss0.0226 | Time 1139.6572
Epoch 0009 | Step 5811/9688 | Loss0.0233 | Time 1709.5192
Epoch 0009 | Step 7748/9688 | Loss0.0236 | Time 2279.3897
Epoch 0009 | Step 9685/9688 | Loss0.0242 | Time 2849.2223
current acc is 0.9559,best acc is 0.9578
time costed = 2956.59248s 

 Running training epoch 10
Epoch 0010 | Step 1937/9688 | Loss0.0178 | Time 569.8847
Epoch 0010 | Step 3874/9688 | Loss0.0184 | Time 1155.6587
Epoch 0010 | Step 5811/9688 | Loss0.0190 | Time 1755.2518
Epoch 0010 | Step 7748/9688 | Loss0.0195 | Time 2347.6165
Epoch 0010 | Step 9685/9688 | Loss0.0199 | Time 2944.6687
current acc is 0.9570,best acc is 0.9578
time costed = 3055.57384s 

 Running training epoch 11
Epoch 0011 | Step 1937/9688 | Loss0.0143 | Time 592.8905
Epoch 0011 | Step 3874/9688 | Loss0.0145 | Time 1175.2653
Epoch 0011 | Step 5811/9688 | Loss0.0147 | Time 1755.9251
Epoch 0011 | Step 7748/9688 | Loss0.0150 | Time 2328.6430
Epoch 0011 | Step 9685/9688 | Loss0.0152 | Time 2912.6542
current acc is 0.9574,best acc is 0.9578
time costed = 3024.11339s 

 Running training epoch 12
Epoch 0012 | Step 1937/9688 | Loss0.0107 | Time 569.8877
Epoch 0012 | Step 3874/9688 | Loss0.0113 | Time 1132.6540
Epoch 0012 | Step 5811/9688 | Loss0.0116 | Time 1696.2052
Epoch 0012 | Step 7748/9688 | Loss0.0118 | Time 2257.3531
Epoch 0012 | Step 9685/9688 | Loss0.0121 | Time 2818.8709
current acc is 0.9572,best acc is 0.9578
time costed = 2924.70879s 

 Running training epoch 13
Epoch 0013 | Step 1937/9688 | Loss0.0082 | Time 567.2092
Epoch 0013 | Step 3874/9688 | Loss0.0088 | Time 1134.1375
Epoch 0013 | Step 5811/9688 | Loss0.0089 | Time 1700.7457
Epoch 0013 | Step 7748/9688 | Loss0.0093 | Time 2279.6464
Epoch 0013 | Step 9685/9688 | Loss0.0094 | Time 2843.6873
current acc is 0.9574,best acc is 0.9578
time costed = 2949.69827s 

 Running training epoch 14
Epoch 0014 | Step 1937/9688 | Loss0.0066 | Time 582.0098
Epoch 0014 | Step 3874/9688 | Loss0.0070 | Time 1171.9052
Epoch 0014 | Step 5811/9688 | Loss0.0071 | Time 1753.2701
Epoch 0014 | Step 7748/9688 | Loss0.0073 | Time 2317.5736
Epoch 0014 | Step 9685/9688 | Loss0.0074 | Time 2883.1302
current acc is 0.9582,best acc is 0.9582
time costed = 2990.31544s 

 Running training epoch 15
Epoch 0015 | Step 1937/9688 | Loss0.0047 | Time 561.9774
Epoch 0015 | Step 3874/9688 | Loss0.0053 | Time 1123.2087
Epoch 0015 | Step 5811/9688 | Loss0.0055 | Time 1684.2225
Epoch 0015 | Step 7748/9688 | Loss0.0056 | Time 2245.2500
Epoch 0015 | Step 9685/9688 | Loss0.0058 | Time 2806.3496
current acc is 0.9580,best acc is 0.9582
time costed = 2912.08622s 

 Running training epoch 16
Epoch 0016 | Step 1937/9688 | Loss0.0040 | Time 561.0802
Epoch 0016 | Step 3874/9688 | Loss0.0041 | Time 1122.1682
Epoch 0016 | Step 5811/9688 | Loss0.0043 | Time 1683.3781
Epoch 0016 | Step 7748/9688 | Loss0.0044 | Time 2244.4352
Epoch 0016 | Step 9685/9688 | Loss0.0045 | Time 2805.8054
current acc is 0.9583,best acc is 0.9583
time costed = 2912.48312s 

 Running training epoch 17
Epoch 0017 | Step 1937/9688 | Loss0.0033 | Time 561.1979
Epoch 0017 | Step 3874/9688 | Loss0.0032 | Time 1124.1422
Epoch 0017 | Step 5811/9688 | Loss0.0034 | Time 1686.4735
Epoch 0017 | Step 7748/9688 | Loss0.0035 | Time 2248.5866
Epoch 0017 | Step 9685/9688 | Loss0.0035 | Time 2809.6183
current acc is 0.9586,best acc is 0.9586
time costed = 2916.18025s 

 Running training epoch 18
Epoch 0018 | Step 1937/9688 | Loss0.0030 | Time 560.9982
Epoch 0018 | Step 3874/9688 | Loss0.0030 | Time 1122.0108
Epoch 0018 | Step 5811/9688 | Loss0.0030 | Time 1682.8989
Epoch 0018 | Step 7748/9688 | Loss0.0031 | Time 2243.9749
Epoch 0018 | Step 9685/9688 | Loss0.0030 | Time 2822.0374
current acc is 0.9587,best acc is 0.9587
time costed = 2936.32381s 

 Running training epoch 19
Epoch 0019 | Step 1937/9688 | Loss0.0026 | Time 568.9544
Epoch 0019 | Step 3874/9688 | Loss0.0027 | Time 1134.8936
Epoch 0019 | Step 5811/9688 | Loss0.0027 | Time 1702.9066
Epoch 0019 | Step 7748/9688 | Loss0.0027 | Time 2271.3928
Epoch 0019 | Step 9685/9688 | Loss0.0027 | Time 2865.0735
current acc is 0.9588,best acc is 0.9588
time costed = 2979.27618s 

 Running training epoch 20
Epoch 0020 | Step 1937/9688 | Loss0.0022 | Time 567.3272
Epoch 0020 | Step 3874/9688 | Loss0.0024 | Time 1136.3527
Epoch 0020 | Step 5811/9688 | Loss0.0024 | Time 1701.7354
Epoch 0020 | Step 7748/9688 | Loss0.0024 | Time 2266.7220
Epoch 0020 | Step 9685/9688 | Loss0.0024 | Time 2831.9075
current acc is 0.9587,best acc is 0.9588
time costed = 2938.76025s 

